{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container" class="container">
            <div class="row b25">
                <div class="col">
                    <h1>Генератор коротких URL</h1>
                </div>
            </div>
            <div class="row b25">
                <div class="col-10">
                    <div class="form-group">
                        <label>Введите любой оригинальный URL:</label>
                        <input id="original_url" class="form-control" type="text">
                    </div>
                    <button type="submit" class="btn btn-primary" onclick="generateUrl()">Укоротить</button>
                </div>
            </div>
            <div id="result" class="row b25">
                <div class="col-10">
                    <div class="form-group">
                        <label>Короткий URL:</label>
                        <input id="generate_url" class="form-control" type="text" readonly>
                    </div>
                    <button class="btn btn-info" type="button" id="button-addon2" onclick="copyToClipboard()">Копировать</button>
                    <button class="btn btn-success" type="button" id="button-addon2" onclick="goTo()">Перейти</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
<style>
    html, body { width: 100%; height: 100%; margin: 0; padding: 0; }
    body > #wrapper { width: 100%; height: 100%; background-color: #fff; }
    #container { max-width: 800px; padding: 20px; height: 100%; /*background-color: #f5f5f5; border-left: 1px solid #bfbfbf; border-right: 1px solid #bfbfbf;*/ }
    #result { display: none; }
    .b25 { margin-bottom: 25px; }
</style>
{% endblock %}

{% block javascripts %}
<script>
function generateUrl()
{
    $.ajax({
      url: "/generator/process",
      method: 'POST',
      data: {
        original: $('#original_url').val()
      },
      beforeSend: function( url ) {
        $( "#generate_url" ).val('');
        $( "#result" ).hide();
      },
      success: function( url ) {
        $( "#generate_url" ).val(url);
        $( "#result" ).show();
      }
    });
}

function copyToClipboard() {
    var generateUrl = $('#generate_url').val();
    if (generateUrl) {
        var tempItem = document.createElement('input');
        tempItem.setAttribute('type','text');
        tempItem.setAttribute('display','none');
        tempItem.setAttribute('value', generateUrl);
        document.body.appendChild(tempItem);
        
        tempItem.select();
        document.execCommand('copy');

        tempItem.parentElement.removeChild(tempItem);
    }
}

function goTo() {
    var generateUrl = $('#generate_url').val();
    if (generateUrl) {
        window.open(generateUrl, '_blank');
    }
}

</script>
{% endblock %}
